*{
  padding: 0;
  margin: 0;
}

p{
  display: inline-block;
  margin-top: 50px;
}

ul{
  font-size: 0;
}

li{
  font-size: 16px;
}

header{
  position: fixed;
}

.nav-list{
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 17px;
  position: relative;
  background-color: green;
  text-align: center;
  margin-top: 10px;
  border-right: 1px solid rgb(110, 219, 110);
  border-left: 1px solid rgb(110, 219, 110);
}

.link-nav-list{
  padding: 20px 60px;
 text-decoration: none;
 color: whitesmoke;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}

.nav-list:hover, .line-sub-link-nav-list:hover{
  background-color: rgb(110, 219, 110);
  color: rgb(0, 102, 0);
}

.sub-link-nav-list{
  display: none;
  margin-top: 20px;
  width: 100%;
}

.line-sub-link-nav-list{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: green;
  text-align: center;
  border-bottom: 1px solid rgb(110, 219, 110);
  border-top: 1px solid rgb(110, 219, 110);
}

.link-line-sub-link-nav-list{
   text-decoration: none;
   color: whitesmoke;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.nav-list:hover > .sub-link-nav-list{
  position: absolute;
  display: block;
}

h2{
  padding-top: 80px;
}