*{
  padding: 0;
  padding-left: ;
  margin: 0;
}

p{
  display: inline-block;
  margin-top: 50px;
}

ul{
  font-size: 0;
}

li{
  font-size: 16px;
}

header{
  position: fixed;
}

.nav-list{
  display: inline-block;
  margin-top: 17px;
}

.nav-list {
  position: relative;
  text-decoration: none;
  background-color: green;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px 60px;
  text-align: center;
  margin-top: 10px;
  border-right: 1px solid rgb(110, 219, 110);
  border-left: 1px solid rgb(110, 219, 110);
}

.nav-list:hover{
  background-color: rgb(110, 219, 110);
  color: rgb(0, 102, 0);
}

.sub-link-nav-list{
  display: none;
}

.nav-list:hover > .sub-link-nav-list{
  position: absolute;
  display: block;
}

h2{
  padding-top: 80px;
}